@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

#game-board{
    display:flex;
    justify-content: center;
    
    
}

body { 
    background-image: url("../images/field.jpeg");
    background-size: 100% 108.5%;
    background-repeat: no-repeat;
  }

#canvas {
    background:url("./images/field.jpeg") no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
    box-shadow:2px 5px 50px white;
}


#button{
 font-family: 'Kavoon', cursive;
 width: 30vw;
 height: 15vh;
 margin-left: 15px;
/*  background-color:rgb(24, 133, 10); */
 border-radius: 8px;
 font-size: 30px;
 color:white;
 text-shadow: -3px -3px 10px black;
 background-image: url("https://media.istockphoto.com/id/1077425288/pt/foto/texture-of-small-green-grass-background-close-up-ground-garden.jpg?s=170667a&w=0&k=20&c=ypN_yEMbu64RJNeFvTVCjY2ToShApQ-bkFHBqvTjaag=");
 
/*  position: absolute;
  left:  30%;
  right: 30%;
  bottom:30%;
  top: 30%;
  margin:10px;
  padding:10px; */
}

h1{
    font-family: 'Kavoon';
    color:white;
    font-size: 50px;
    text-shadow: -1px -1px 5px black;
}

#instruction{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    margin:10px;
    font-family: 'Kavoon';
    list-style: none;
}

ul{
   
    color:white;
    text-shadow: -1px -1px 5px black;
    list-style: none;
    height: 140px;
    font-family: 'Kavoon', cursive;
    font-size: 25px;
    margin:10px 0;
    margin-bottom: 5vh;
    background-color:  rgba(6, 6, 6, 0.471);
    height: 35vh;
    width: 55vw;
    border-radius: 25px;
}

.container-button{
    position:absolute;
    top: 10vh;
    display:list-item;
    text-align: center;
    font-family:'Kavoon', cursive;
    align-items: center;
    list-style: none;
   
}

.hidden{
    display: none;
}

.show{
    display:list-item;
}


#btnRestart{
    position:absolute;
    top: 9vh;
    margin-left: 840px;
    size: 500px;
    text-align: center;
    font-family:'Kavoon';
    align-items: center;
    list-style: none;
}

#restart-button {
    font-family: 'Kavoon';
    width: 8vw;
    height: 5vh;
    margin-left: 15px;
    border-radius: 8px;
    font-size: 23px;
    color:white;
    text-shadow: -3px -3px 10px black;
    background-image: url("https://media.istockphoto.com/id/1077425288/pt/foto/texture-of-small-green-grass-background-close-up-ground-garden.jpg?s=170667a&w=0&k=20&c=ypN_yEMbu64RJNeFvTVCjY2ToShApQ-bkFHBqvTjaag=");
}

#container-gameover{
   position:absolute;
    color:white;
    background-color: rgba(6, 6, 6, 0.471);
    text-shadow: -1px -1px 5px black;
    font-family: 'Kavoon', cursive;
    font-size: 35px;
    /* padding-top: 5%; */
    margin-bottom: 5vh;
    background-color:  rgba(6, 6, 6, 0.471);
    height: 67vh;
    width: 65vw;
    border-radius: 25px;
    top: 18vh;
    text-align: center;
}

#gameover-paragraph {
    color: red;
    text-shadow: -1px -1px 5px black;
    font-size: 50px;
}

#crazy-duck{
    height:50vh;
    width: 40vw;
    margin-right: 550px;
    margin-left: -10px;
    margin-top: -121px;
    position: absolute; 
    display:list-item;
}