@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

#game-board{
    display:flex;
    justify-content: center;
    
}

body { 
    background-image: url("https://images.squarespace-cdn.com/content/v1/5c04f61af2e6b1c86712ecf2/1619548217379-TP0SIFG24PEXPL58GOUH/pexels-jahoo-clouseau-388415.jpg?format=1500w");

    
  }

#canvas {
    background:url("./images/field.jpeg") no-repeat;
    background-size: 100% 100%;
}

#button{
 font-family: 'Kavoon', cursive;
 width: 30vw;
 height: 15vh;
 margin-left: 15px;
/*  background-color:rgb(24, 133, 10); */
 border-radius: 8px;
 font-size: 30px;
 color:white;
 text-shadow: -3px -3px 10px black;
 background-image: url("https://media.istockphoto.com/id/1077425288/pt/foto/texture-of-small-green-grass-background-close-up-ground-garden.jpg?s=170667a&w=0&k=20&c=ypN_yEMbu64RJNeFvTVCjY2ToShApQ-bkFHBqvTjaag=");
 
/*  position: absolute;
  left:  30%;
  right: 30%;
  bottom:30%;
  top: 30%;
  margin:10px;
  padding:10px; */
}

h1{
    font-family: 'Kavoon', cursive;
    color:white;
    font-size: 50px;
    text-shadow: -1px -1px 5px black;
}

#instruction{
    font-size: 20px;
    color: white;
    margin:10px;;
    font-family: 'Kavoon', cursive;

}

ul{
   
    color:white;
    text-shadow: -1px -1px 5px black;
    list-style: none;
    height: 140px;
    font-family: 'Kavoon', cursive;
    font-size: 25px;
    margin:10px 0;
    margin-bottom: 5vh;
    background-color: rgba(6, 6, 6, 0.183);
}


.container-button{
    position:absolute;
    top: 10vh;
    display:list-item;
    text-align: center;
    font-family:'Kavoon', cursive;
    align-items: center;
   
}

.hidden{
    display: none;
}